* {
    font-size: 16px;
    font-family: verdana, sans-serif;
    margin: 0px;
    padding: 0px;    
}

body {
    text-align: center;
    background-color: black;
    background-image: linear-gradient(#3b3938, black 400px, black);
    background-repeat: no-repeat;
    color: #a6a6a6;
}

h1, h2, a {
    color: #eaeae9;    
}
h1, h2 {
    text-shadow: 1px 1px 2px black;
}

h1 {
    font-size: 40px;
    text-align: left;
}
h2 {
    font-size: 30px;    
} 

p {
    margin: 0px;
    line-height: 30px;
}
#wrapperDiv, #leftDiv, #mainDiv {
    border-color: #4d4b48;
    border-style: solid;
}
#wrapperDiv {
    margin: 100px auto;
    width: 1000px;
    border-width: 1px;   
}
#upperDiv {
    background-image: url("images/bg_image.png");
    background-repeat: repeat-x;
    padding: 30px;
    height: 44px;  //104 - 2x padding
}
#leftDiv, #mainDiv {
    background-color: #262626;
    height: 500px;
}
#leftDiv {
    width: 150px;
    float: left;
    border-width: 1px 1px 0px 0px;
}
#mainDiv {
    width: 100%;
    border-width: 1px 0px 0px 0px;    
}
#selectAddonTable {
    margin: 150px auto;
    text-align: left;
}

input[type=submit] {
    margin-top: 50px;
    padding: 1px 15px 1px 15px;
}
.error {
    margin-top: 200px;
    color: red;
    font-size: 30px;
    font-weight: bold;
}

#leftDiv ul {
    margin-top: 41px;
    list-style-type: none;
    text-align: left;
}
#leftDiv li {
}
a {
    text-decoration: none;
    display: block;
    width: 130px;
    padding: 10px 0px 10px 20px;
}
a:hover {
    background-color: #373635;
}
