body{

  text-align: center;
  width: 100%;
  margin: 0 auto;
  color:#fff;
  background: url(images/bg.jpg) no-repeat center top #000;
  font-family: Arial,Helvetica,sans-serif;
}

.shadow{
    -moz-box-shadow: 0px 0px 5px #000;
    -webkit-box-shadow: 0px 0px 5px #000;
    box-shadow: 0px 0px 5px #000;
}

#wrapper{
overflow: hidden;
}

#wrapper, #header, #content{
width: 1000px;
margin: 0 auto;
}

#header{
text-align: left;
}

#content{
    text-align: center;
}

#content a{
    text-decoration: underline;
   

}
form{
    padding: 0;

    margin: 0 auto;
}

#register{
    text-align: center;
    float:left;
    margin: -3px auto 0 auto;
}

#sign {

background: #000;
text-align: right;
margin-left: -45px;

*margin-left: -400px;
_margin-left: -400px;

width: 676px;
margin-bottom: 10px;
-moz-border-radius: 5px;
border-radius:5px;
padding: 5px;
}

h1{
  font-size: 13px;
background: black;
text-align: right;
margin-left: -44px;
position: relative;
width: 496px;
margin-bottom: 10px;
-moz-border-radius: 5px;
border-radius: 5px;
padding: 5px;
}
h2{
font-size: 13px;
background: black;
text-align: left;
margin-right: -216px;
position: relative;

margin-bottom: 10px;
-moz-border-radius: 5px;
border-radius: 5px;
padding: 5px;
float: right;
}
h3{
    font-size: 12px;
    padding: 0;
    margin: 5px;
}
button{
    padding: 0;
    height: 50px;
    width: 100px;
    border:0;
    margin: 0 10px;
    cursor: pointer;
}

.openID{
    background-image: url(images/openID_btn.jpg);
   
}

.facebook{
    background-image: url(images/facebook_btn.jpg);
    
}

.liveID{
    background-image: url(images/liveID_btn.jpg);
    
}

.google{
    background-image: url(images/google_btn.jpg);
    
}

.steam{
    background-image: url(images/steam_btn.jpg);
    
}

#desc{
    font-size: 12px;
background: url(images/cont_bg.png) top left;
padding: 10px;
text-align: justify;
width: 827px;
float: left;
-moz-border-radius: 5px;
border-radius:5px;
}
.center{
    text-align: center;
}
#desc p{
  float:left;
  margin: 10px 0 10px 0;
  
}

#desc img{
opacity:0.7;
}

#desc img:hover{
opacity:1;
}

#feat{
   width:1000px;
   float:left;
}

.pRight{
    text-align: center;
    padding-right: 10px;
    width: 125px;
}

.buy{
    font-size: 12px;
}

a{
    border: 0px;
    text-decoration: none;
    color: #cbcbcb;
}
img{
    border: 0px;
}
a:hover{
    color: #fff;
}

.okBtn{
 background: url(images/okBtn_bg.jpg) no-repeat top center;
 border: 1px;
 color: #fff;
 font-weight: bold;
 -moz-border-radius: 5px;
 border-radius:5px;
 text-shadow: 0px 0px 2px #000;
 cursor: pointer;
 width: 35px;
height: 22px;
marfile:0;
padding: 0;
vertical-align: middle;
}

.okBtn:hover{

 color: #000;
 font-weight: bold;
 -moz-border-radius: 5px;
 border-radius:5px;
 text-shadow: 0px 0px 2px #fff;
 cursor: pointer;
 -moz-box-shadow: 0px 0px 5px #fff;
 -webkit-box-shadow: 0px 0px 5px #fff;
  box-shadow: 0px 0px 5px #fff;
}

.getId{
width: 242px;
margin: 10px auto;
background: #000;
-moz-border-radius: 5px;
 border-radius:5px;
 font-size: 12px;
}

.copyKey{
    width: 300px;
margin: 10px auto;
background: #000;
-moz-border-radius: 5px;
 border-radius:5px;
 font-size: 12px;
}

acronym{
    text-decoration: underline;
   color: #fff;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    padding-bottom: 15px;
}
tr th{
    width: 200px;
    border: 0px;
}

table tbody tr:hover{
   
   background: url(images/table_bg.png) repeat-x bottom left;
   
}

table thead tr{
    text-align: center;
}

.visite{

font-size: 13px;
background: black;
text-align: center;
width: 200px;
margin-bottom: 10px;
-moz-border-radius: 5px;
border-radius: 5px;
padding: 5px;
}

#btn-wrap{
float: right;	
}

.button{
    font-size: 13px;
margin-bottom: 10px;
}

.button a{
	text-align: center;
display: block;
    width: 200px;
    padding: 15px;
    color: white;
    font-weight: bold;
	-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

#updates a{


background: #abdc28; /* Old browsers */
background: -moz-linear-gradient(top, #abdc28 0%, #7fc400 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#abdc28), color-stop(99%,#7fc400)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #abdc28 0%,#7fc400 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #abdc28 0%,#7fc400 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #abdc28 0%,#7fc400 99%); /* IE10+ */
background: linear-gradient(top, #abdc28 0%,#7fc400 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#abdc28', endColorstr='#7fc400',GradientType=0 ); /* IE6-9 */

}

#updates a:hover{
	color: black;
	    background: #b6e026; /* Old browsers */
background: -moz-linear-gradient(top, #b6e026 0%, #abdc28 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b6e026), color-stop(100%,#abdc28)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #b6e026 0%,#abdc28 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #b6e026 0%,#abdc28 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #b6e026 0%,#abdc28 100%); /* IE10+ */
background: linear-gradient(top, #b6e026 0%,#abdc28 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6e026', endColorstr='#abdc28',GradientType=0 ); /* IE6-9 */
}

#download a {
color: #555;
background: #f9fcf7;
background: -moz-linear-gradient(top, #f9fcf7 0%, #f5f9f0 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9fcf7), color-stop(100%,#f5f9f0));
background: -webkit-linear-gradient(top, #f9fcf7 0%,#f5f9f0 100%);
background: -o-linear-gradient(top, #f9fcf7 0%,#f5f9f0 100%);
background: -ms-linear-gradient(top, #f9fcf7 0%,#f5f9f0 100%);
background: linear-gradient(top, #f9fcf7 0%,#f5f9f0 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fcf7', endColorstr='#f5f9f0',GradientType=0 );
	
}

#download a:hover{
	color: black;
background: #f5f9f0;
background: -moz-linear-gradient(top, #f5f9f0 0%, #f9fcf7 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f9f0), color-stop(100%,#f9fcf7));
background: -webkit-linear-gradient(top, #f5f9f0 0%,#f9fcf7 100%);
background: -o-linear-gradient(top, #f5f9f0 0%,#f9fcf7 100%);
background: -ms-linear-gradient(top, #f5f9f0 0%,#f9fcf7 100%);
background: linear-gradient(top, #f5f9f0 0%,#f9fcf7 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f9f0', endColorstr='#f9fcf7',GradientType=0 );	
}


.fullWid{
 background-color: #000;
 padding: 10px;
 -moz-border-radius: 5px;
border-radius: 5px;
text-align: justify;
}

#ads{
	width: 728px;
	margin : 5px auto;
}

.footer{
    font-size: 12px;
    width: 900px;
    margin: 20px auto;
    
}

.footer a{
    text-decoration: underline;
}