body {
    background-color: #F8F8F8;
    font-family: sans-serif;
    font-size: smaller;
}

/* Specifické styly */

/* editace docházky */

table.radky {
    border-collapse: collapse;
    border: 1px solid black;
}

table.radky td {
    border: solid 0px black;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 0px;
}

table.radky tr.svatek td {
    background-color: #FFE0E0;
    color: #FFFFFF;
}
table.radky tr.svatek td.den {
    background-color: #FF0000;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
}

table.radky tr.svatek-dnes td {
    background-color: #FFE0C0;
    color: #FFFFFF;
}
table.radky tr.svatek-dnes td.den {
    background-color: #FF0000;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
}

table.radky tr.pracovni td {
    background-color: #FFFFFF;
    color: #000000;
}
table.radky tr.pracovni td.den {
    background-color: #FFFFFF;
    color: #000000;
    font-weight: bold;
    text-align: center;
}

table.radky tr.pracovni-dnes td {
    background-color: #E0E0FF;
    color: #000000;
}
table.radky tr.pracovni-dnes td.den {
    background-color: #000080;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
}


table.radky td.typ-intervalu select {
    font-size: 7pt;
    border: 1px solid black;
    width: 6em;
}
table.radky td.typ-dne select {
    font-size: 7pt;
    border: 1px solid black;
    width: 8em;
}

table.radky td.cas input {
    font-size: 8pt;
    width: 3em;
    border: 1px solid #E0E0E0;
    text-align: center;
}

table.tisk-cedulka {
    border-collapse: collapse;
    border: 2px solid black;
    width: 100%;
    margin-bottom: 5em;
}

table.tisk-cedulka td.titulek {
    text-align: right;
    font-size: 8pt;
}

table.tisk-cedulka td.dny {
    text-align: right;
    font-size: 10pt;
    font-weight: bold;
}

table.tisk-cedulka td.hodiny {
    text-align: right;
    font-size: 10pt;
    font-weight: bold;
}

table.tisk-cedulka td.terminy {
    text-align: left;
    font-size: 10pt;
}

body.tisk {
    background-color: white;
    color: black;
    font-family: sans-serif;
    font-size: 10pt;
}

table.tisk-cedulka th {
    border: 1px solid black;
    text-align: center;
    text-decoration: underline;
    font-size: 10pt;
}

table.tisk-tabulka {
    border-collapse: collapse;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

table.tisk-tabulka td.seznam {
    width: 70%;
}

table.tisk-tabulka tr.titulek th {
    border-bottom: 2px solid black;
    border-right: 1px solid black;
}

table.tisk-tabulka td {
    margin: 0px;
    border: 1px solid black;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
}

table.tisk-tabulka tr.pracovni td.den {
    background-color: black;
    color: white;
}

table.tisk-tabulka tr.pracovni td.den {
    background-color: white;
    color: black;
    font-weight: bold;
    text-align: center;
}
table.tisk-tabulka tr.svatek td.den {
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
}

table.tisk-tabulka td.cislo-dne {
    text-align: right;
    font-weight: bold;
}

table.tisk-suma {
    width: 80%;
    border: 2px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

table.tisk-suma td {
    border-bottom: 1px solid black;
}

table.tisk-suma td.titulek {
    text-align: right;
    font-size: 8pt;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

table.tisk-suma td.dny {
    text-align: right;
    font-size: 10pt;
    font-weight: bold;
}

table.tisk-suma td.hodiny {
    text-align: right;
    font-size: 10pt;
    font-weight: bold;
}

