html { 
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff7c9;
    font-family: Arial, helvetica, sans-sefif;
    font-size: 8pt;
    color: black;
    text-align: center;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    margin: auto;
}

div.box {
    padding: 10px 15px;
    border: 1px solid black;
    background-color: #f8e369;
}

th {
    background-color: #f8f469;
    border: 1px solid black;
    padding: 2px 5px;
}
td {
    background-color: white;
    border: 1px solid black;
    padding: 2px 5px;
}

.centered {
    text-align: center;
}

h1 {
    text-align: center;
}

th.rotated {
    transform:rotate(270deg);
    -ms-transform:rotate(270deg); /* IE 9 */
    -moz-transform:rotate(270deg); /* Firefox */
    -webkit-transform:rotate(270deg); /* Safari and Chrome */
    -o-transform:rotate(270deg); /* Opera */    
    background-color: white;
}


table.form {
    
}

table.form th {
    text-align: right;
    border: 0;
    padding: 5px;
    background-color: #ffffff;
}
table.form td {
    text-align: left;
    border: 0;
    padding: 5px;
    background-color: #ffffff;
}

form {
    display: inline;
    margin: 0;
    
}