body
{
	background-color : #EFEFEF;
	background-image : url(images/canvas.gif);
	font-family : Tahoma,Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : Black;
	font-size : small;
}

a{
	background-color : White;
	color:  #8B0000;
	text-decoration : none;
	}
	
a:hover{
	color:  #2E4F52;
	text-decoration : underline;
}

a.tree{
	font-weight : bold;
	font-size : medium;
	width: 100%;
	display:block;
	padding: 0px 0px 0px 10px;
	background-color : transparent;
}

a.tree:hover{
	background-color :  #CCFF99;
   	text-decoration : none;
}

a.tree:active{
	background-color :  Black;
	color: white;
   	text-decoration : none;
}

a.topmenu{
font-size : 16px;	
padding: 0px 10px;
 border-left : 1px solid;
 border-right : 1px solid;
 font-weight:bold;
}

a.topmenu:hover{
font-size : 16px;	
background-color :    #8B0000;
color: White;
padding: 0px 10px;
border-left : 1px solid;
border-right : 1px solid;
text-decoration : none;
}

table.dlg{
	width: 100%;
	border: 1px solid black;
	padding: 0px;	
	border-collapse : collapse;
}

caption.dlg{
	font-weight: bold;
	background-color: #4E557A;	
	margin:auto;
	border: 1px solid Black;
	color: Yellow;
	padding:5px;
	font-size:large;
}

td.dlg{
	border: none;
}

th.dlg{
	margin: 0px;
	background-color : White;
	text-align: left;
	padding: 5px 10px;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}
td.dlg{
	padding: 0px 10px;
	border-bottom: 1px solid black;
}

input.dlgbutton{
	min-width : 20%;
	text-align : center;
}

.error
{
	color:red;
	font-weight: bold;	
	font-size:medium;
}

