<?xml version='1.0' encoding='UTF-8' ?>
<!--
    Document   : Colabo
    Created on : 1.7.2011, 9:31:29
    Author     : Jirka
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
        xmlns:icecore="http://www.icefaces.org/icefaces/core"
        xmlns:ice="http://www.icesoft.com/icefaces/component"
       >
    <h:head>
        <title>ICEfaces 2</title>
        <link rel="stylesheet" type="text/css" href="./xmlhttp/css/rime/rime.css"/>
    </h:head>
    <h:body>
      <ice:form>
         <ice:panelDivider orientation="vertical" dividerPosition="25" style="width: 98%; height: 98%">
             <f:facet name="first">
                 <ice:panelDivider orientation="horizontal" dividerPosition="60" style="width: 100%; height: 99%">
                     <f:facet name="first">
                        Left top pane
                     </f:facet>
                     <f:facet name="second">
                        Left bottom pane
                     </f:facet>
                 </ice:panelDivider>
             </f:facet>
             <f:facet name="second">
                 <ice:panelDivider orientation="horizontal" dividerPosition="40" style="width: 100%; height: 99%">
                     <f:facet name="first">
                        <ice:dataTable value="#{colabo.articles}" var="item" border="2" width="100%" scrollable="true">
                            <ice:column>
                                <ice:rowSelector value="#{item.selected}" selectionListener="#{colabo.onRowSelected}"/>
                                <f:facet name="header">
                                    <ice:outputText value="Subject"/>
                                </f:facet>
                                <ice:outputText value="#{item.title}"/>
                            </ice:column>
                            <ice:column>
                                <f:facet name="header">
                                    <ice:outputText value="Posted by"/>
                                </f:facet>
                                <ice:outputText value="#{item.author}"/>
                            </ice:column>
                            <ice:column>
                                <f:facet name="header">
                                    <ice:outputText  value="Date"/>
                                </f:facet>
                                <ice:outputText value="#{item.date}"/>
                            </ice:column>
                        </ice:dataTable>
                     </f:facet>
                     <f:facet name="second">
                        <ice:outputText value="#{colabo.currentArticleContent}" escape="false"/>
                     </f:facet>
                 </ice:panelDivider>
             </f:facet>
         </ice:panelDivider>
      </ice:form>
    </h:body>
</html>