<?xml version='1.0' encoding='UTF-8' ?>
<!--
    Document   : welcomeICEfaces
    Created on : 1.7.2011, 8:48:55
    Author     : Jirka
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
        xmlns:icecore="http://www.icefaces.org/icefaces/core"
        xmlns:ice="http://www.icesoft.com/icefaces/component"
       >
    <h:head>
        <title>ICEfaces 2</title>
        <link rel="stylesheet" type="text/css" href="./xmlhttp/css/rime/rime.css"/>
    </h:head>
    <h:body>
      <ice:form>
         <ice:panelGroup style="width: 100%; height: 200px">
            <ice:panelGrid columns="2">
                <ice:outputText value="Host:"/>
                <ice:inputText value="#{colabo.host}" required="true" size="50"/>
                <ice:outputText value="Port:"/>
                <ice:inputText value="#{colabo.port}" required="true" size="50"/>
                <ice:outputText value="User DN:"/>
                <ice:inputText value="#{colabo.userDN}" required="true" size="50"/>
                <ice:outputText value="Password:"/>
                <ice:inputSecret value="#{colabo.password}" required="true" size="50"/>
                <ice:outputText value=""/>
                <ice:commandButton value="Login" action="#{colabo.login}"/>
            </ice:panelGrid>
         </ice:panelGroup>
      </ice:form>
    </h:body>
</html>