<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich">
    <h:head>
        <title>Colabo</title>
        <style type="text/css">
            *{padding:0; margin:0}
            html, body {height:100%}
            #container {display:block; position:absolute; left:0; top:0; right:0; bottom:0;
                           background-color:#fff; overflow:hidden}
            #form\:left {position:absolute; left:0; top:0; width:#{colabo.leftPaneWidth - 0.2}%; height:100%; overflow:hidden}
            #form\:splitter {position:absolute; left:#{colabo.leftPaneWidth - 0.2}%; top:0; width:0.4%; height:100%; overflow:hidden; background:#ccc}
            #form\:right {position:absolute; right:0; top:0; width:#{99.8 - colabo.leftPaneWidth}%; height:100%; overflow:hidden}
            #form\:lefttop {position:absolute; left:0; top:0; width:100%; height:#{colabo.leftTopPaneHeight - 0.3}%; overflow:auto}
            #form\:leftsplitter {position:absolute; left:0; top:#{colabo.leftTopPaneHeight - 0.3}%; width:100%; height:0.6%; overflow:hidden; background:#ccc}
            #form\:leftbottom {position:absolute; left:0; bottom:0; width:100%; height:#{99.7 - colabo.leftTopPaneHeight}%; overflow:auto}
            #form\:righttop {position:absolute; right:0; top:0; width:100%; height: #{colabo.rightTopPaneHeight - 0.3}%; overflow:none}
            #form\:rightsplitter {position:absolute; left:0; top:#{colabo.rightTopPaneHeight - 0.3}%; width:100%; height:0.6%; overflow:hidden; background:#ccc}
            #form\:rightbottom {position:absolute; right:0; bottom:0; width:100%; height:#{99.7 - colabo.rightTopPaneHeight}%; overflow:auto}
            a.tag{text-decoration:none; white-space:nowrap}
            a.c0{color:#000}
            a.c1{color:#00f}
            a.c2{color:#3800e9}
            a.c3{color:#6400de}
            a.c4{color:#8000d2}
            a.c5{color:#9500c5}
            a.c6{color:#a700b6}
            a.c7{color:#b600a7}
            a.c8{color:#c50095}
            a.c9{color:#d20080}
            a.c10{color:#de0064}
            a.c11{color:#e90038}
            a.c12{color:#f00}
            a.c20{color:#647964}
            a.c21{color:#8aa58a}
            a.c22{color:#a6c6a6}
            a.c23{color:#bde1bd}
            #status {position:absolute; left:40%; width:20%; top:45%; border:2px solid red; background:white; color:red; text-align:center}
        </style>
    </h:head>
    <h:body>
        <rich:dragIndicator id="verticalSplitter">
            <h:graphicImage library="images" name="vsplitterarrow.bmp"/>
        </rich:dragIndicator>
        <rich:dragIndicator id="horizontalSplitter">
            <h:graphicImage library="images" name="hsplitterarrow.bmp"/>
        </rich:dragIndicator>
        <h:form id="form">
          <div id="container">
              <a4j:outputPanel layout="block" id="left">
                <a4j:outputPanel layout="block" id="lefttop">
                    <div style="margin:3px 5px 3px 5px">
                        <a4j:repeat id="tags" value="#{colabo.currentTags}" var="item">
                            <span>
                                <h:commandLink value="#{item.text}"
                                    actionListener="#{item.onSelected}"/>
                            </span>
                        </a4j:repeat>
                        <hr/>
                        <a4j:repeat id="alltags" value="#{colabo.allTags}" var="item">
                            <span>
                                <h:commandLink value="#{item.text}"
                                    style="font-size:#{item.size}%" styleClass="#{item.color} tag"
                                    actionListener="#{item.onSelected}"/>
                            </span>
                        </a4j:repeat>
                    </div>
                    <rich:dropTarget acceptedTypes="leftsplitter" dropListener="#{colabo.leftSplitterUp}" oncomplete="javascript:location.reload(true)"/>
                </a4j:outputPanel>
                <a4j:outputPanel layout="block" id="leftsplitter">
                    <rich:dragSource type="leftsplitter" dragIndicator="horizontalSplitter"/>
                </a4j:outputPanel>
                <a4j:outputPanel layout="block" id="leftbottom">
                    <rich:tree id="bookmarks" toggleType="client" selectionType="ajax" var="item">
                        <rich:treeModelRecursiveAdaptor roots="#{colabo.articles.rootBookmarks}" nodes="#{item.children}">
                            <rich:treeNode>
                                <h:commandLink actionListener="#{item.onSelected}" styleClass="tag">
                                    #{item.name}
                                </h:commandLink>
                            </rich:treeNode>
                        </rich:treeModelRecursiveAdaptor>
                    </rich:tree>
                    <rich:dropTarget acceptedTypes="leftsplitter" dropListener="#{colabo.leftSplitterDown}" oncomplete="javascript:location.reload(true)"/>
                </a4j:outputPanel>
                <rich:dropTarget acceptedTypes="splitter" dropListener="#{colabo.splitterToLeft}" oncomplete="javascript:location.reload(true)"/>
              </a4j:outputPanel>
              <a4j:outputPanel layout="block" id="splitter">
                  <rich:dragSource type="splitter" dragIndicator="verticalSplitter"/>
              </a4j:outputPanel>
              <a4j:outputPanel layout="block" id="right">
                <a4j:outputPanel layout="block" id="righttop">
                    <style type="text/css">
                        .rf-edt-r-sel td {background-color: yellow; border:black solid 1px}
                    </style>
                    <rich:extendedDataTable value="#{colabo.articles}" var="item"
                                            id="articles" selectionMode="single"
                                            selection="#{colabo.articles.selected}"
                                            clientRows="100"
                                            style="width:100%; height:100%"
                                            binding="#{colabo_backing.table}">
                        <a4j:ajax execute="@this" event="selectionchange"
                                  listener="#{colabo.articles.onSelected}" render="content"/>
                        <rich:column width="40px">
                            <f:facet name="header">
                                <a4j:commandLink action="#{colabo.articles.sortByCustom}" render="articles">
                                    <h:graphicImage library="org.richfaces"
                                                    rendered="#{colabo.articles.sortedByCustom == 'ascending' || colabo.articles.sortedByCustom == 'descending'}"
                                                    name="#{colabo.articles.sortedByCustom == 'ascending' ? 'up_icon.gif' : 'down_icon.gif'}"
                                                    height="60%" style="vertical-align:middle; border:0"/>
                                    <h:outputText value="X"/>
                                </a4j:commandLink>
                            </f:facet>
                            <a4j:repeat id="icons" value="#{item.icons}" var="icon">
                                <h:graphicImage library="icons" name="#{icon}" height="75%" style="vertical-align:middle"/>
                            </a4j:repeat>
                        </rich:column>
                        <rich:column width="400px">
                            <f:facet name="header">
                                <a4j:commandLink action="#{colabo.articles.sortByTitle}" render="articles">
                                    <h:graphicImage library="org.richfaces"
                                                    rendered="#{colabo.articles.sortedByTitle == 'ascending' || colabo.articles.sortedByTitle == 'descending'}"
                                                    name="#{colabo.articles.sortedByTitle == 'ascending' ? 'up_icon.gif' : 'down_icon.gif'}"
                                                    height="60%" style="vertical-align:middle; border:0"/>
                                    <h:outputText value="Subject"/>
                                </a4j:commandLink>
                            </f:facet>
                            <h:graphicImage library="images" name="empty.gif" width="#{20*item.indent}" height="1" style="vertical-align:middle"/>
                            <a4j:commandLink actionListener="#{item.onExpanded}" render="articles" styleClass="tag">
                                <h:graphicImage library="images" name="#{item.leaf ? 'empty.gif' : (item.expanded ? 'collapse.gif' : 'expand.gif')}" height="75%" style="vertical-align:middle"/>
                            </a4j:commandLink>
                            <h:outputText style="vertical-align:middle; #{item.style}" value="#{item.article.title}" escape="false"/>
                        </rich:column>
                        <rich:column width="150px">
                            <f:facet name="header">
                                <a4j:commandLink action="#{colabo.articles.sortByAuthor}" render="articles">
                                    <h:graphicImage library="org.richfaces"
                                                    rendered="#{colabo.articles.sortedByAuthor == 'ascending' || colabo.articles.sortedByAuthor == 'descending'}"
                                                    name="#{colabo.articles.sortedByAuthor == 'ascending' ? 'up_icon.gif' : 'down_icon.gif'}"
                                                    height="60%" style="vertical-align:middle; border:0"/>
                                    <h:outputText value="Posted by"/>
                                </a4j:commandLink>
                            </f:facet>
                            <h:outputText style="#{item.style}" value="#{item.article.author}"/>
                        </rich:column>
                        <rich:column width="150px">
                            <f:facet name="header">
                                <a4j:commandLink action="#{colabo.articles.sortByDate}" render="articles">
                                    <h:graphicImage library="org.richfaces"
                                                    rendered="#{colabo.articles.sortedByDate == 'ascending' || colabo.articles.sortedByDate == 'descending'}"
                                                    name="#{colabo.articles.sortedByDate == 'ascending' ? 'up_icon.gif' : 'down_icon.gif'}"
                                                    height="60%" style="vertical-align:middle; border:0"/>
                                    <h:outputText value="Date"/>
                                </a4j:commandLink>
                            </f:facet>
                            <h:outputText style="#{item.style}" value="#{item.article.date}" converter="FixedDateTimeConverter"/>
                        </rich:column>
                    </rich:extendedDataTable>
                    <rich:dropTarget acceptedTypes="rightsplitter" dropListener="#{colabo.rightSplitterUp}" oncomplete="javascript:location.reload(true)"/>
                </a4j:outputPanel>
                <a4j:outputPanel layout="block" id="rightsplitter">
                    <rich:dragSource type="rightsplitter" dragIndicator="horizontalSplitter"/>
                </a4j:outputPanel>
                <a4j:outputPanel layout="block" id="rightbottom">
                    <div style="margin:3px 5px 3px 5px">
                        <h:outputText value="#{colabo.articles.currentArticleContent}" id="content" escape="false"/>
                    </div>
                    <rich:dropTarget acceptedTypes="rightsplitter" dropListener="#{colabo.rightSplitterDown}" oncomplete="javascript:location.reload(true)"/>
                </a4j:outputPanel>
                <rich:dropTarget acceptedTypes="splitter" dropListener="#{colabo.splitterToRight}" oncomplete="javascript:location.reload(true)"/>
              </a4j:outputPanel>
            </div>
        </h:form>
        <a4j:status>
            <f:facet name="start">
                <div id="status">
                    Loading ...
                </div>
            </f:facet>
        </a4j:status>
        <ui:debug/>
    </h:body>
</html>

