<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>Error occured</title>
    </h:head>
    <h:body>
        <h3>Error occured</h3>
        <f:view>
            <p>
                <h:outputText value="#{colabo.errorMessage}" escape="false"/>
            </p>
        </f:view>
    </h:body>
</html>

