<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:head>
        <title>LDAP Login</title>
    </h:head>
    <h:body>
        <c:if test="#{flash.expired}">
            <p>After long period of inactivity, your session has expired.</p>
        </c:if>
        <h3>Login to LDAP:</h3>
        <h:form id="loginForm">
            <h:panelGrid columns="3">
                <h:outputLabel value="Host:" for="host"/>
                <h:inputText value="#{colabo.ldap.host}" label="Host" id="host" required="true"/> <h:message for="host" style="color: red"/>
                <h:outputLabel value="Port:" for="port"/>
                <h:inputText value="#{colabo.ldap.port}" label="Port" id="port" required="true"/> <h:message for="port" style="color: red"/>
                <h:outputLabel value="User DN:" for="userDN"/>
                <h:inputText value="#{colabo.ldap.userDN}" label="User DN" id="userDN" required="true"/> <h:message for="userDN" style="color: red"/>
                <h:outputLabel value="Password:" for="password"/>
                <h:inputSecret value="#{colabo.ldap.password}" label="Password" id="password" redisplay="true"/> <h:message for="password" style="color: red"/>
                <h:selectBooleanCheckbox id="remember" value="#{colabo.ldap.remember}">
                    <h:outputLabel for="remember" value="Remember Me:"/>
                </h:selectBooleanCheckbox>
                <h:outputText value=""/><h:outputText value=""/>
                <h:outputText value=""/>
                <h:commandButton value="Login" action="#{colabo.login}"/>
            </h:panelGrid>
            <p> <h:messages style="color: red"/> </p>
        </h:form>
        <ui:debug/>
    </h:body>
</html>

