<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Community Translator Login</title>
    </h:head>
    <h:body>
        <center>
        <h:panelGrid width="20%">
            <rich:panel>
                <f:facet name="header">
                    <h:outputText value="Community Translator Login" />
                </f:facet>
                <h:form>
                    <h:panelGrid columns="2">
                        <h:outputText value="Login name:" /> 
                        <h:inputText id="name" value="#{sessionBean.name}" styleClass="inputbox" autocomplete="true"/>
                        <h:outputText value=""/>
                        <h:message for="name" styleClass="errors"/>
                        <h:outputText value="Password:" /> 
                        <h:inputSecret id="password" value="#{sessionBean.password}" styleClass="inputbox" autocomplete="true"/>
                        <h:outputText value=""/>
                        <h:message for="password" styleClass="errors"/>
                    </h:panelGrid>
                    <center>
                        <h:commandButton value="Login" action="#{sessionBean.login}" styleClass="submitButton"/>
                    </center>
                </h:form>
            </rich:panel>
        </h:panelGrid>
        </center>
    </h:body>
</html>
