<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Community Translator</title>
    </h:head>
    <h:body>
        <center>
            <rich:panel>
                <f:facet name="header">
                    <h:outputText value="Login Failed" />
                </f:facet>
                <h:form>
                    <center>
                        <h:outputText value="#{sessionBean.errorMsg}" />
                        <h:commandButton value="Back" action="back" styleClass="submitButton"/>
                    </center>
                </h:form>
            </rich:panel>
        </center>
    </h:body>
</html>

