<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Community Translator</title>
        <style type="text/css">
            *{padding:0; margin:0}
            html, body {height:100%}
        </style>
    </h:head>
    <h:body>
        <h:form prependId="false">
            <h:panelGrid columns="2">
                <rich:panel style="width:400px; height:600px" id="left">
                    <br/>
                    <h:outputText value="Translate to: "/>
                    <rich:select id="translateTo" value="#{sessionBean.translateToCurrent}">
                         <a4j:ajax execute="@this" event="selectitem"
                                   listener="#{sessionBean.onTranslateToSelected}" render="@form"/>
                         <f:selectItems value="#{sessionBean.languages}" var="language" itemLabel="#{language.name}" itemValue="#{language.id}"/>
                    </rich:select>
                    <br/><br/>
                    <h:selectBooleanCheckbox id="showTranslated" value="#{sessionBean.showTranslated}">
                        <a4j:ajax execute="@this" event="change"
                                listener="#{sessionBean.onShowTranslatedChanged}" render="@form"/> 
                    </h:selectBooleanCheckbox>
                    <h:outputText value=" Show already translated strings"/>
                    <br/><br/>
                    <h:outputText value="Project: "/>
                    <rich:select id="project" value="#{sessionBean.projectsCurrent}">
                         <a4j:ajax execute="@this" event="selectitem"
                                   listener="#{sessionBean.onProjectSelected}" render="@form"/>
                         <f:selectItems value="#{sessionBean.projects}" var="project" itemLabel="#{project.name}" itemValue="#{project.id}"/>
                    </rich:select>
                    <br/><br/>
                    <rich:extendedDataTable value="#{sessionBean.strings}" var="item"
                                            id="strings" selectionMode="single"
                                            selection="#{sessionBean.stringsCurrent}"
                                            clientRows="50"
                                            style="width:100%; height:320px">
                        <a4j:ajax execute="@this" event="selectionchange"
                                  listener="#{sessionBean.onStringSelected}" render="right"/>
                        <rich:column width="400px">
                            <h:outputText value="#{item.text}" escape="false"/>
                        </rich:column>
                    </rich:extendedDataTable>
                    <br/><br/>
                    <h:inputText style="width:100%" id="stringToAdd" value="#{sessionBean.stringToAdd}"/>
                    <br/>
                    <a4j:commandButton id="addString" value=" Add String "> 
                        <a4j:ajax execute="stringToAdd" event="click"
                                  listener="#{sessionBean.onAddString}" render="@form"/>
                    </a4j:commandButton>
                </rich:panel>
                <rich:panel style="width:400px; height:600px" id="right">
                    <br/>
                    <h:outputText style="font-size: 18px;" value="#{sessionBean.string}" escape="false"/>
                    <br/><br/>
                    <h:outputText value="Translate from: "/>
                    <rich:select id="translateFrom" value="#{sessionBean.translateFromCurrent}">
                         <a4j:ajax execute="@this" event="selectitem"
                                   listener="#{sessionBean.onTranslateFromSelected}" render="source"/>
                         <f:selectItems value="#{sessionBean.languages}" var="language" itemLabel="#{language.name}" itemValue="#{language.id}"/>
                    </rich:select>
                    <br/>
                    <h:inputTextarea disabled="true" id="source" rows="4" value="#{sessionBean.source}">
                    </h:inputTextarea>
                    <br/><br/>
                    <h:outputText value="Translation"/>
                    <br/>
                    <h:inputTextarea id="translation" rows="4" value="#{sessionBean.translation}">
                    </h:inputTextarea>
                    <br/>
                    <a4j:commandButton id="sendTranslation" value=" Send Translation "> 
                        <a4j:ajax execute="translation" event="click"
                                  listener="#{sessionBean.onSendTranslation}" render="right"/>
                    </a4j:commandButton>
                    <br/><br/>
                    <h:outputText value="Tags: "/>
                    <h:inputText id="tags" value="#{sessionBean.tags}"/>
                    <br/>
                    <a4j:commandButton id="updateTags" value=" Update Tags "> 
                        <a4j:ajax execute="tags" event="click"
                                  listener="#{sessionBean.onUpdateTags}" render="tags"/>
                    </a4j:commandButton>
                </rich:panel>
            </h:panelGrid> 
        </h:form>
    </h:body>
</html>

